*{
  box-sizing: border-box;
  /* margin: 1em; */
  /* padding: 1em; */
  }

h1 {
    color: blue;
    position: relative;
    left: 30px;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    /* margin: 1em; */
  }

h2 {
    margin: 1em;
    font-size: 1.5em;
}

nav {
    margin: 1em;
    font-size: 1em;
    padding: 0.5;
    padding-right: 4em;
    display: inline-block;
}

li {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.menu {
    margin: 2em;
    float: left;
}

.home {
    font-weight: bolder;
}

div {
    margin-top: 3em;
}

p {
    margin-top: 2em;
}

label {
    font-weight: bold;
}

form {
    margin-left: 2em;
}

input[type="submit"] {
    margin-top: 3em;
}

.helptext {
    margin-left: 1em;
}
