{% extends "base/base.html" %}

{% block content %}
<h1>Welcome to the Django Lender page!</h1>
<div>
<h2><span class="home">Home route:</span> /</h2>

<h2><span class="home">Register:</span> /accounts/register/</h2>

<h2><span class="home">Log in:</span> /accounts/login/</h2>

<h2><span class="home">Logout:</span> /accounts/logout/</h2>

<h2><span class="home">Book List Route:</span> /books/</h2>

<h2><span class="home">Admin route:</span> for editing and adding books. Escape from admin view using back arrow in browser</h2>

<h2><span class="home">Book Detail Route:</span> click on specific book in Book List Route</h2>

</div>
{% endblock %}
